apiVersion: 1
datasources:
  - name: "tempo"
    type: tempo
    uid: tempo
    url: http://tempo-query-frontend.observability.svc.cluster.local:3100
    access: proxy
    jsonData:
      handleGrafanaManagedAlerts: false
      implementation: prometheus
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: loki
      tracesToLogs:
        datasourceUid: loki
        filterBySpanID: false
        filterByTraceID: true
        mapTagNamesEnabled: false
        tags:
          - app
    readOnly: false
    editable: true
