apiVersion: 1
datasources:
  - uid: logging
    orgId: 1
    name: logging
    type: loki
    typeName: Loki
    access: proxy
    url: http://loki-gateway.logging.svc 
    password: ''
    user: ''
    database: ''
    basicAuth: false
    isDefault: false
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: (?:trace_id)=(\w+)
          name: TraceID
          url: $${__value.raw}
    readOnly: false
    editable: true
