grafana:
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true
      label: grafana_datasource
      labelValue: "1"

  resources:
    requests:
      cpu: "0.2"
      memory: 700Mi
    limits:
      cpu: "0.4"
      memory: 800Mi

  ingress:
    enabled: true
    ingressClassName: kong
    annotations: {}
      # konghq.com/strip-path: "true"  # Optional if Kong needs it
      # kubernetes.io/tls-acme: "true" # Uncomment if using cert-manager
    labels: {}
    hosts:
      - grafana.k8s.opstree.dev
    path: /
    pathType: Prefix

  persistence:
    enabled: true
    type: sts
    accessModes:
      - ReadWriteOnce
    size: 4Gi
    finalizers:
      - kubernetes.io/pvc-protection
  # tolerations:
  #   - key: "kubernetes.io/hostname"
  #     operator: "Equal"
  #     value: "worker1"
  #     effect: "NoSchedule"

