
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMRule
metadata:
  name: blackbox-rules
  namespace: monitoring
spec:
  groups:
    - name: blackbox.rules
      rules:
        - alert: WebsiteDown
          expr: probe_success == 0
          for: 1h
          labels:
            severity: critical
            channel: slack
            team: devops
            alert: Blackbox
          annotations:
            summary:  "Website is down(instance {{`{{ $labels.instance }}`}})" 
            description:  "The probe to (instance {{`{{ $labels.instance }}`}}) is failing (HTTP unreachable)."
            dashboard_url: https://grafana.k8s.opstree.dev/explore

        - alert: SSLCertExpiringSoon
          expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 7
          for: 5m
          labels:
            severity: warning
            channel: slack
            team: devops
            alert: Blackbox
          annotations:
            summary:  "SSL cert expiring soon for (instance {{`{{ $labels.instance }}`}})" 
            description:  "SSL certificate for (instance {{`{{ $labels.instance }}`}}) is expiring in less than 7 days." 
            dashboard_url: https://grafana.k8s.opstree.dev/explore

