vm:
  victoria-metrics-operator:
    enabled: true
    operator:
      disable_prometheus_converter: true
    resources:
      limits:
        cpu: "0.3"
        memory: 500Mi
      requests:
        cpu: "0.2"
        memory: 300Mi

  prometheus-node-exporter:
    enabled: true
  
  defaultDashboards:
    enabled: true

  kubeStateMetrics:
    enabled: true

  grafana:
    enabled: false 

  alertmanager:
    enabled: false
    
  vmsingle:
    enabled: true
    spec:
      retentionPeriod: "14d"
      extraArgs:
        search.maxUniqueTimeseries: "10000000000000"
      storage:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 2Gi

  defaultRules:
    create: false
  vmcluster:
    enabled: false
    
  vmagent:
    enabled: true
    spec:
      extraArgs:
        promscrape.maxScrapeSize: 200MB
        promscrape.streamParse: "true"
        promscrape.dropOriginalLabels: "true"
        remoteWrite.label: k8s_cluster=LDC,env=LDC
      resources:
        limits:
          cpu: "0.3"
          memory: 300Mi
        requests:
          cpu: "0.2"
          memory: 300Mi
      scrapeInterval: 30s
      
  vmalert:
    enabled: true
    spec:
      resources:
        limits:
          cpu: "0.3"
          memory: 500Mi
        requests:
          cpu: "0.2"
          memory: 300Mi
      notifiers: 
        - url: "http://alertmanager.monitoring-standalone.svc.cluster.local:9093"
     

