collector:
  mode: deployment
  podDisruptionBudget:
    enabled: true
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 1
      memory: 1Gi
  image:
    repository: "otel/opentelemetry-collector-contrib"
    pullPolicy: IfNotPresent
    tag: "0.129.1"
  # ports: 
  #   healthz:
  #     enabled: true
  #     port: 13133
  #   pprof:
  #     enabled: true
  #     port: 1777
  #   zpages:
  #     enabled: true
  #     port: 55679
  config:
    extensions:
      health_check:
        endpoint: "0.0.0.0:13133"
      pprof:
        endpoint: 0.0.0.0:1777
      zpages:
        endpoint: 0.0.0.0:55679
    connectors:
      servicegraph:
        dimensions:
          - db.system
          - messaging.system
        store:
          max_items: 500
          ttl: 5s
        virtual_node_extra_label: true
        virtual_node_peer_attributes:
          - db.name
          - db.system
          - messaging.system
          - peer.service
      spanmetrics:
        dimensions:
          - name: rpc.grpc.status_code
          - name: rpc.service
          - name: rpc.system
          - name: rpc.method
          - name: http.method
          - name: http.status_code
          - name: http.route
          - name: http.response.status_code
        exclude_dimensions: ['status.code']
        dimensions_cache_size: 1000
        events:
          dimensions:
            - name: exception.type
            - name: exception.message
          enabled: false
        exemplars:
          enabled: false
        metrics_expiration: 5m
        metrics_flush_interval: 15s
        resource_metrics_key_attributes:
        - service.name
        - telemetry.sdk.language
        - telemetry.sdk.name
    exporters:
      # debug:
      #   verbosity: detailed
      otlp:
        endpoint: tempo:4317
        tls:
          insecure: true
        sending_queue:
          enabled: true
          num_consumers: 10
          queue_size: 10000
        retry_on_failure:
          enabled: true
        compression: snappy
        timeout: 120s
      prometheusremotewrite:
        endpoint: "http://vmsingle-vm.monitoring.svc.cluster.local:8429/api/v1/write"
        max_batch_size_bytes: 3000000
        remote_write_queue:
          enabled: true
          queue_size: 10000
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_elapsed_time: 300s
          max_interval: 30s
        timeout: 120s
        tls:
          insecure_skip_verify: true
    processors:
      memory_limiter:
        check_interval: 5s
        limit_percentage: 90
        spike_limit_percentage: 14
      # Disabling it 
      # Need to enable when there is load 
      # tail_sampling:
      #   decision_wait: 60s
      #   policies:
      #     - name: error-policy
      #       status_code:
      #         status_codes: [ERROR]
      #       type: status_code
      #     - name: latency-policy
      #       latency:
      #         threshold_ms: 500
      #       type: latency
      #     - name: probabilistic
      #       probabilistic:
      #         sampling_percentage: 10
      #       type: probabilistic
      batch:
        send_batch_max_size: 10000
        send_batch_size: 5000
        timeout: 5s
      batch/tempo:
        send_batch_max_size: 128
        send_batch_size: 64
        timeout: 5s
    receivers:
      otlp:
        protocols:
          grpc:
            max_recv_msg_size_mib: 16
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
            - job_name: app-otelcol-metrics
              scrape_interval: 30s
              static_configs:
                - targets: [127.0.0.1:8889]
    service:
      extensions:
      - pprof
      - health_check
      - zpages
      pipelines:
        metrics:
          exporters:
          - prometheusremotewrite
          processors:
          - memory_limiter
          - batch
          receivers: 
          - otlp
          - prometheus
          - spanmetrics
          - servicegraph
        traces:
          exporters: 
          - otlp
          - spanmetrics
          - servicegraph
          processors:
          - memory_limiter
          # - tail_sampling
          - batch/tempo
          receivers: 
          - otlp
      telemetry:
        metrics:
          level: detailed
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 127.0.0.1
                    port: 8888
                    with_resource_constant_labels:
                      included:
                        - service.name

  # extraManifests:
  #   - apiVersion: opentelemetry.io/v1alpha1
  #     kind: Instrumentation
  #     metadata:
  #       name: otel-instrumentation
  #       namespace: observability
  #     spec:
  #       exporter:
  #         endpoint: http://vm-collector.observability.svc.cluster.local:4317
  #       propagators: [tracecontext, baggage, b3]
  #       sampler:
  #         type: parentbased_traceidratio
  #         argument: "1"
  #       java:
  #         env:
  #           - name: OTEL_EXPORTER_OTLP_PROTOCOL
  #             value: grpc
  #           - name: OTEL_LOGS_EXPORTER
  #             value: none
  #           - name: OTEL_EXPORTER_OTLP_ENDPOINT
  #             value: http://vm-collector.observability.svc.cluster.local:4317
  #       python:
  #         env:
  #           - name: OTEL_EXPORTER_OTLP_ENDPOINT
  #             value: http://vm-collector.observability.svc.cluster.local:4318
  #       dotnet:
  #         env:
  #           - name: OTEL_EXPORTER_OTLP_ENDPOINT
  #             value: http://vm-collector.observability.svc.cluster.local:4318
  #       go:
  #         env:
  #           - name: OTEL_EXPORTER_OTLP_ENDPOINT
  #             value: http://vm-collector.observability.svc.cluster.local:4318