apiVersion: v1
kind: ConfigMap
metadata:
  name: vmagent-config
  namespace: monitoring
data:
  vmagent.yaml: |
    scrape_configs:
      - job_name: 'node_exporter'
        static_configs:
          - targets:
            - '192.168.10.211:9100'
            - '192.168.10.212:9100'
            - '192.168.10.213:9100'
